@page "/"
<PageTitle>MainPage</PageTitle>
<h3>MainPage</h3>
Welcome to the QuickShiftApplication. This is the main page of the application. You can navigate to the other pages by clicking on the links in the navigation menu on the left side of the screen.
@code {
    
}